body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


input,
textarea {
  background-color: #f5f5f5;
}

label,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.showPointer:hover {
  cursor: pointer
}

.list-item {
  opacity: 1;
  transition: 0.5s;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.list-item p {
  color: grey;
  margin: 5px 0px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-10 {
  margin: 10px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

textarea {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}



.navbar {
  background: white;
  padding: 20px;
}

.navbar-item {
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  height: 60px;
  background-color: lightgray;
  color: black;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #357ae8;
}


.login-button {
  float: right;
}

.row-alignment {
  float: left;
  display: flex;
}